/* Mobile */
@media only screen and (max-width:767px){
    .section-home{
        bottom: 20px;
    }
    /* Home */
    #home-iam{
        transform: translateY(-80%);
    }
    #img-name{
        width: 100%;
        height: auto;
    }
    #home-container{
        margin-left: 1%;
        margin-top: 180px;
    }
    .home-element{
        margin-top: 5%;
    }
    #home-button{
        margin-top: 5%;
    }
    #home-iam, #home-rol, #home-button{
        margin-left: 5%;
    }
    
}

/* Tablets */
@media only screen and (min-width:768px) {
    #home-iam{
        transform: translateY(1%);
    }
}

/* Desktops y Laptops en general */
@media only screen and (min-width: 1500px){
    #home-container{
        margin-top: 350px;
    }

}