/* GLOBALES */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

/* NAVBAR*/
.logo{
    float:left;
    padding:8px;
    margin-left: 16px;
    margin-top: 8px;
} 
.logo a{
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}
nav ul{
    float:right;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;

}
nav ul li:not(:first-child){
    margin-left: 48px; 
}
nav ul li:last-child{
    margin-right: 48px;
}
nav ul li:last-child{
    margin-right: 24px;
}
nav ul li a{
    display: inline-block;
    outline: none;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
.cool-link::after {
    content: '';
    display: block;
    width:0;
    height: 2px;
    background: #000;
    transition: width 0.3s

}
.cool-link:hover::after{
    color: #000;
    margin-top: 5px;
    width: 100%;
    transition: width 0.3;
}

@media screen and (max-width:864px){
    .logo{
        padding:0;
    }
    .nav-wrapper{
        position:fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index:-1;
        background: #fff;
        opacity:0;
        transition: all 0.2s ease;
    }
    .nav-wrapper ul{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width:100%;
    }
    .nav-wrapper ul li{
        display:block;
        float: none;
        width:100%;
        text-align:right;
        margin-bottom:10px;
    }
    .nav-wrapper ul li:nth-child(1) a{
        transition-delay:0.1s;
    }
    .nav-wrapper ul li:nth-child(2) a{
        transition-delay:0.2s;
    }
    .nav-wrapper ul li:nth-child(3) a{
        transition-delay:0.3s;
    }
    .nav-wrapper ul li:nth-child(4) a{
        transition-delay:0.4s;
    }
    .nav-wrapper ul li:nth-child(5) a{
        transition-delay:0.5s;
    }
    .nav-wrapper ul li:not(:first-child){
        margin-left:0;
    }
    .nav-wrapper ul li a{
        padding: 10px 24px;
        opacity:0;
        color:#000;
        font-size:14px;
        font-weight: 600;
        letter-spacing:1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }
    .nav-btn {
        position:fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height:48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }
    .nav-btn i{
        display: block;
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        margin-left: 14px;
    }
    .nav-btn i:nth-child(1){
        margin-top: 16px;
    }
    .nav-btn i:nth-child(2){
        margin-top: 4px;
        opacity: 1;
    }
    .nav-btn i:nth-child(3){
        margin-top: 4px;
    }

}
#nav:checked + .nav-btn{
    transform:rotate(45deg);
}
#nav:checked + .nav-btn i{
    background: #000;
    transition: transform 0.2s ease;
}
#nav:checked + .nav-btn i:nth-child(1){
    transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-btn i:nth-child(2){
    opacity: 0;
}
#nav:checked + .nav-btn i:nth-child(3){
    transform: translateY(-6px) rotate(90deg);
} 
#nav:checked ~ .nav-wrapper{
    z-index: 9990;
    opacity: 1;
}
#nav:checked ~ .nav-wrapper ul li a{
    opacity:1;
    transform: translateX(0);
}
.hidden{
    display:none;
}

/* HOME */
#home{
    background: #7a2828;  
    height: 100vh;
    max-width: 100%;
}
#home-container{
    margin: 0 auto;
    padding-left: 15%;
    padding-top:8%;
}
#home-iam, #home-rol{
    color: #fff;
}
#home-iam{
    font-size:25px;
    font-weight: 300;
    position: absolute;
    transform: translateY(20%);
}
#home-rol{
    font-size:15px;
    font-weight: 300;
}
#home-button{
    background: #fff;
    color: #7a2828;
    font-weight: 600;
    font-size: 15px;
    border: none;
    width: 150px;
    height: 35px;
    margin-top: 2%;
}
#img-name{
    width: 70%;
    height: auto;
}

/* ABOUT */
.tittle{
    font-family: 'Merriweather', serif;
    color: #7a2828;  
    font-weight: 900;
    font-size: 350%;
    margin-bottom:3%;
}
.buttonLanguage {
    background:#7a2828;
    border: none;
    border-radius: 0;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight:600;
    width: 45px;
    height: 45px;
    margin-top: 10%;
    margin-right:5%;
    color: #fff;
}

#aboutText{
    font-weight: 300;
    font-size: 20px;
}
#img-about{
    width: 70%;
    height: auto;
    transform: translateY(-5%);
}

/* SKILLS */
#skills-text{
    font-weight: 300;
    font-size: 20px;
}
#skillsLanguage{
    background:#7a2828;
    border: none;
    border-radius: 0;
    font-family: 'Merriweather', serif;
    font-weight:600;
    height: auto;
    margin-top: 10%;
}
#skillsText{
    font-weight: 300;
    font-size: 20px;
}
#skillsGroupIcon{
    margin-top: 10%;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    max-width: 620px;
    justify-content: center;
    align-content: space-around;
}
#skillsM{
    width: 80px;
    height: auto;
}
.icon-group{
    margin-bottom: 8%;
}
/* PROJECTS */
#projects{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
.card-middle{
    width: 30%;
    overflow: hidden;
    box-shadow: 0 0 20px #00000070;
    margin-right: 1%;
    height: 10%;
    max-height: 390px;
}
.top-section{
    position: relative;
}
.top-section img{
    width: 100%;
    height: 180px;
}
.info-section{
    padding: 40px;
    padding-top: 0;
    padding-bottom: 1%;
    color: #333;
}
#projects h2{
    position: relative;
    font-size: 16px;
    margin-top: 10px;
}
.border{
    width: 30px;
    height: 3px;
    background: #778beb;
    position: absolute;
    left: 0;
    bottom: -6px;
}
#projects p{
    text-align: justify;
    font-size: 14px;
}
.s-m{
    text-align: center;
    margin-top:20px;
}
.s-m a{
    text-decoration: none;
    font-size: 20px;
    color: #333;
    padding: 0 14px;
    transition: .4s;
}
.s-m a:hover{
    color:#7a2828;
    transform: translateY(-10px);
}



/* CONTACT */