@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

/* Navbar */
#logo{
    width: 88px;
    height: 91px;
    background-image: url("../img/logo.png");
    z-index: 100;
    float: right;
}
.content-line{
    position: relative;
    display: flex;
    align-content: center;
}
#line-hor{
    z-index: 90;
    width: 70%;
    margin-top: 50px;
    border-top: 2px solid #fff;
}
#line-ver{
    z-index: 80;
    width: 20%;
    height: 75vh;
    float: right;
    margin-right: 50px;
    border-right: 2px solid #fff;
}
#links{
    display: flex;
    flex-direction: column;
    float: right;
}
#links a{
    color: #fff;
    transition: .4s;
    margin-top: 20px;
}
#links a:hover{
    color:#fff;
}
.nav{
    position:fixed;
	top:0;
	left:0;
	height: 50px;
	z-index: 70;
	width: 100%;
	padding: 0;
    margin:0;
    padding-left: 3%;
    margin-top: 1%;
    transition: 0.3s;
}
.nav ul{
    width: 466px;
    float:left;
    margin-bottom: 0;
    margin-top: 40px;
}
.nav ul li{
    display: inline-block;
    margin-right: 10px;
    max-width: 50%;
}
.nav ul li:not(:first-child){
    margin-left: 10px; 
}
.nav ul li:last-child{
    margin-right: 10px;
}
.nav ul li a{
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.cool-link::after {
    content: '';
    display: block;
    width:0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}
.cool-link:hover{
    font-weight: 600;
}
.cool-link:hover::after{
    color: #fff;
    margin-top: 5px;
    width: 100%;
    transition: width 0.3s;
}
@media screen and (max-width:1900px){
    #line-hor{
        width:65%;
    }
}
@media screen and (max-width:1700px){
    #line-hor{
        width:62%;
    }
}
@media screen and (max-width:1600px){
    #line-hor{
        width:60%;
    }
}
@media screen and (max-width:1500px){
    #line-hor{
        width:55%;
    }
    #img-name{
        width: 60%;
        height: auto;
    }
    #home-text{                     
        left: 55%;
        margin-right: -50%;
        transform: translate(-40%, -50%);
         
    }
}
@media screen and (max-width:1270px){
    #line-hor{
        width:50%;
    }
}

@media screen and (min-width:1200px) and (max-height:852px){
    #line-ver{
        height: 65vh;
    }
    #links a{
        margin-top: 10px;
    }
}


@media screen and (max-width:1199px){
    #home .s-m{
        display: none;
    }
    #line-ver, #line-hor, #nav-linkedin, #nav-github, #logo {
        display: none;
    }
    

}