/* Mobile */
@media only screen and (max-width:768px){
    /* Home */
    #home-iam{
        transform: translateY(-80%);
    }
    #img-name{
        width: 80%;
        height: auto;
    }
    .home-element{
        margin-top: 5%;
    }
    #home-button{
        margin-top: 5%;
    }
    /* About */
    #about-content #img-about2{
        display: block;
        width: 60%;
        height: auto;
        margin-top: 15%;
        margin-left: 70px;
    }
    #img-about1{
        display: none;
    }
    #about #about-content{
        width: 90%;
    }
    #about, #skills{
        top: 2%;
    }
    .tittle{
        font-size: 300%;
    }
    .text{
        font-size: 100%;
    }
    /* Skills */
    #skillsGroupIcon{
        margin-top: 5%;
    }
    #skills .text{
        display:none;
    }
    #skills .col-6{
        width: 100%;
    }
    #skillsGroupIcon{
        margin-top: 15%;
    }
    .icon-group{
        transform: translateX(-30px);
    }
    /* Projects */
    #projects-mobile{
        display: block;
    }
    #projects-cards{
        display: none
    }
    .info-section{
        padding: 0px;
        padding-bottom: 5px;
    }
    /* Contact */
    #contact-container{
        margin: 0 auto;
        position: absolute;              
        top: 50%;                   
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #links1{
        display: none;
    }
    #links2{
        display: block;
    }
    #github, #linkedin{
        width: 50px;
        height: 50px;
    }
    #email{
        transform: translateY(10px);
        height: 65px;
        width: auto;
    }
    #contact-tittle{
        font-size: 300%;
    }
    #contact-text{
        margin:0;
    }
}

/* Tablets */
@media only screen and (min-width:769px) {
    #home-iam{
        transform: translateY(1%);
    }

}
@media only screen and (min-width:1500px){
    .container{
        margin: 0%;
        padding-left: 5%;
    }
    #about,#skills,#projects{
        max-width: 1500px;
    }
    #about{
        top: 10%;
    }
    .tittle{
        font-size: 500%;
    }
    .text{
        font-size: 25px;
    }
    #img-about1{
        width: 70%;
        height: auto;
        transform: translateX(-4%) ;
    }
    #skills-content{
        transform: translateY(-10%);
    }

}
@media only screen and (min-width:1700px){
    .container{
        padding-left: 10%;
    }
    #about,#skills,#projects{
        max-width: 1700px;
    }
    #img-about1{
        transform: translateX(-10%) ;
    }
    #skills-content{
        transform: translateY(-10%);
    }
    #about-text{
        transform: translateY(15%);
    }

      
}