@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

/* Navbar */
#logo{
    width: 88px;
    height: 91px;
    background-image: url("../img/logo.png");
    z-index: 100;
    float: right;
}
.content-line{
    position: relative;
    display: flex;
    align-content: center;
}
#line-hor{
    z-index: 90;
    width: 70%;
    margin-top: 50px;
    border-top: 2px solid #fff;
}
#line-ver{
    z-index: 80;
    width: 30%;
    height: 70vh;
    float: right;
    border-right: 2px solid #fff;
}
.nav{
    position:fixed;
	top:0;
	left:0;
	height: 50px;
	z-index: 70;
	width: 100%;
	padding: 0;
    margin:0;
    padding-left: 3%;
    margin-top: 1%;
    transition: 0.3s;
}
.nav ul{
    width: 466px;
    float:left;
    margin-bottom: 0;
    margin-top: 40px;
}
.nav ul li{
    display: inline-block;
    margin-right: 10px;
    max-width: 50%;
}
.nav ul li:not(:first-child){
    margin-left: 10px; 
}
.nav ul li:last-child{
    margin-right: 10px;
}
.nav ul li a{
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.cool-link::after {
    content: '';
    display: block;
    width:0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}
.cool-link:hover{
    font-weight: 600;
}
.cool-link:hover::after{
    color: #fff;
    margin-top: 5px;
    width: 100%;
    transition: width 0.3s;
}
#nav:checked + .nav-button{
    transform:rotate(45deg);
}
#nav:checked + .nav-button i{
    background: #000;
    transition: transform 0.2s ease;
}
#nav:checked + .nav-button i:nth-child(1){
    transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-button i:nth-child(2){
    opacity: 0;
}
#nav:checked + .nav-button i:nth-child(3){
    transform: translateY(-6px) rotate(90deg);
} 
#nav:checked ~ .nav-wrap{
    z-index: 9990;
    opacity: 1;
}
#nav:checked ~ .nav-wrap ul li a{
    opacity:1;
    transform: translateX(0);
}
.hidden{
    display:none;
}
@media screen and (max-width:1900px){
    #line-hor{
        width:65%;
    }
}
@media screen and (max-width:1700px){
    #line-hor{
        width:62%;
    }
}
@media screen and (max-width:1600px){
    #line-hor{
        width:60%;
    }
}
@media screen and (max-width:1500px){
    #line-hor{
        width:55%;
    }
}
@media screen and (max-width:1270px){
    #line-hor{
        width:50%;
    }
}

@media screen and (max-width:1199px){
    #home .s-m{
        display: none;
    }
    #line-ver, #line-hor{
        display: none;
    }
    #logo{
        padding:0;
        float: left;

    }
    .nav-wrap{
        position:fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index:-1;
        background: #fff;
        opacity:0;
        transition: all 0.2s ease;
    }
    .nav-wrap ul{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width:100%;
    }
    .nav-wrap ul li{
        display:block;
        float: none;
        width:100%;
        text-align:right;
        margin-bottom:10px;
    }
    .nav-wrap ul li:nth-child(1) a{
        transition-delay:0.1s;
    }
    .nav-wrap ul li:nth-child(2) a{
        transition-delay:0.2s;
    }
    .nav-wrap ul li:nth-child(3) a{
        transition-delay:0.3s;
    }
    .nav-wrap ul li:nth-child(4) a{
        transition-delay:0.4s;
    }
    .nav-wrap ul li:nth-child(5) a{
        transition-delay:0.5s;
    }
    .nav-wrap ul li:not(:first-child){
        margin-left:0;
    }
    .nav-wrap ul li a{
        padding: 10px 24px;
        opacity:0;
        color:#000;
        font-size:14px;
        font-weight: 600;
        letter-spacing:1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }
    .nav-button{
        position:fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height:48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }
    .nav-button i{
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
        border-radius: 2px;
        margin-left: 14px;
    }
    .nav-button i:nth-child(1){
        margin-top: 16px;
    }
    .nav-button i:nth-child(2){
        margin-top: 4px;
        opacity: 1;
    }
    .nav-button i:nth-child(3){
        margin-top: 4px;
    }

}