/* GLOBALES */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

.down, .section-home, .up{
    position: absolute;
    left: 45%;
    font-size: 30px;
}
.section-home{
    color: #fff;
    bottom: 0;
}
.down{
    color:#7a2828;
    bottom: 0;
}
.up{
    color:#7a2828;
    top: 0;
}

/* COLORES
 #AD0E46  / #7a2828   ->   rgba(173,14,70)
 #2E0E19  ->   rgba(46,14,25)
 */

/* HOME */
#home{
    background: radial-gradient(circle cover, #7a2828, #2E0E19);
    background: -webkit-radial-gradient(circle cover, #7a2828, #2E0E19);
    background: -moz-radial-gradient(circle cover, #7a2828, #2E0E19);
    height: 100vh;
    max-width: 100%;
    width: 100%;
    padding-right: 1%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
}
#home-text{
    margin: 0 auto;
    position: absolute;              
    top: 50%;                   
    left: 50%;
    margin-right: -50%;
    transform: translate(-40%, -50%);
     
}
#home-iam, #home-rol{
    color: #fff;
}
#home-iam{
    font-size:140%;
    font-weight: 300;
    position: absolute;
    transform: translateY(20%);
}
#home-rol{
    font-size:15px;
    font-weight: 300;
}
#home-button{
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #7a2828;
    font-weight: 600;
    font-size: 15px;
    border: none;
    width: 150px;
    height: 35px;
    margin-top: 2%;
}
#home-icon{
    margin-left: 8px;
}
#img-name{
    width: 70%;
    height: auto;
}
#home-button:hover{
    background: #AD0E46;
    color:#fff;
}
#home-links{
    position: relative;
    float: right;
    padding-right: 16px;
    height: 80vh;
    left:5%;
    margin-top: 5%;
}
.row-pure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#line-ver{
    width: 100%;
    height: 70vh;
    margin-right: 7px;
    border-right: 2px solid #fff;
}
#home .s-m{
    display: flex;
    float: right;
    position: relative;
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 5px;
}
#home .s-m a{
    color: #fff;
    transition: .4s;
    margin-top: 5px;
}
#home .s-m a:hover{
    transform: translateY(-10px);
}
/* ABOUT */
#about, #skills{
    top: 15%;
}
.tittle{
    font-family: 'Merriweather', serif;
    color: #7a2828;  
    font-weight: 900;
    font-size: 500%;
    margin-bottom:3%;
}
.buttonLanguage {
    background:#7a2828;
    border: none;
    border-radius: 0;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight:600;
    width: 45px;
    height: 45px;
    margin-top: 10%;
    margin-right:5%;
    color: #fff;
}

.text{
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
}
#img-about1{
    width: 70%;
    height: auto;
}
#img-about2{
    display: none;
}

/* SKILLS */
#skillsLanguage{
    background:#7a2828;
    border: none;
    border-radius: 0;
    font-family: 'Merriweather', serif;
    font-weight:600;
    height: auto;
    margin-top: 10%;
}
#skillsText{
    font-weight: 300;
    font-size: 20px;
}
#skillsGroupIcon{
    margin-top: 10%;
    transform: translateX(6%);
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    max-width: 550px;
    justify-content: center;
    align-content: space-around;
}
#skillsM{
    width: 80px;
    height: auto;
    margin-top: 20px;
}
.icon-group{
    margin-bottom: 8%;
    margin-left: 5%;
    transform: translateY(-100px);
}
/* PROJECTS */
.projects-container{
    width: 100%;
    padding: 5%;
    padding-bottom: 0;
    padding-top: 1%;
    height: 100%;
    position: relative;
    overflow: hidden;

}
#projects-mobile{
    display: none;
}
#projects-cards{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%)
}
.carousel{
    height: 80%;
    transform: translateY(-96px);
}
.carousel-item{
    width: 300px;
}
.card-middle{
    width: 30%;
    overflow: hidden;
    box-shadow: 0 0 20px #00000070;
    margin-right: 2vw;
    height: 70vh;
    max-height: 450px;
    max-width: 400px;
    
}
.top-section{
    position: relative;
}
.top-section img{
    width: 100%;
    height: 200px;
}
.info-section{
    padding: 40px;
    padding-top: 0;
    padding-bottom: 1%;
    color: #333;
}
#projects h2{
    position: relative;
    font-size: 16px;
    margin-top: 10px;
}
.border{
    width: 30px;
    height: 3px;
    background: #778beb;
    position: absolute;
    left: 0;
    bottom: -6px;
}
#projects p{
    text-align: justify;
    font-size: 14px;
}
#projects .s-m{
    text-align: center;
    margin-top:20px;
}
#projects .s-m a{
    text-decoration: none;
    font-size: 20px;
    color: #333;
    padding: 0 14px;
    transition: .4s;
}
#projects .s-m a:hover{
    color:#7a2828;
    transform: translateY(-10px);
}



/* CONTACT */
#img-contact2{
    width: auto;
    height: 100%;
    position: relative;
    float: left;
    bottom: 0;
}
#contact-tittle{
    color: #7a2828;
    font-size: 400%;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin-bottom: 10%;
}
#contact-text{
    margin-top: 15%;
}
#contact-email{
    margin-top: 8%;
    margin-left: 5%;
    margin-bottom: 8%;
    font-size: 200%;
}
#contact .s-m a{
    font-size: 250%;
    margin-left: 5%;
}
