/* Mobile */
@media only screen and (max-width:768px){
    .down, .section-home, .up{
        bottom: 45px;
    }
    /* Home */
    #home-iam{
        transform: translateY(-80%);
    }
    #img-name{
        width: 80%;
        height: auto;
    }
    .home-element{
        margin-top: 5%;
    }
    #home-button{
        margin-top: 5%;
    }
    #home-iam, #home-rol, #home-button{
        margin-left: 5%;
    }
    /* About */
    #about-content #img-about2{
        display: block;
        width: 60%;
        height: auto;
        margin-top: 15%;
        margin-left: 70px;
    }
    #img-about1{
        display: none;
    }
    #about #about-content{
        width: 90%;
    }
    #about{
        top: 2%;
    }
    .tittle{
        font-size: 300%;
    }
    .text{
        font-size: 100%;
    }
}

/* Tablets */
@media only screen and (min-width:769px) {
    #home-iam{
        transform: translateY(1%);
    }
}
@media only screen and (min-width:992px){

}