/* Mobile */
@media only screen and (max-width:767px){
    .down, .section-home, .up{
        bottom: 40px;
    }
    /* Home */
    #home-iam{
        transform: translateY(-80%);
    }
    #img-name{
        width: 80%;
        height: auto;
    }
    .home-element{
        margin-top: 5%;
    }
    #home-button{
        margin-top: 5%;
    }
    #home-iam, #home-rol, #home-button{
        margin-left: 5%;
    }
    
}

/* Tablets */
@media only screen and (min-width:768px) {
    #home-iam{
        transform: translateY(1%);
    }
}

/* Desktops y Laptops en general */
@media only screen and (min-width: 1500px){

}